* {
    box-sizing: border-box;
}

html,
body {
    font-family: rubik;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #ecf5d4;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

/*footer både til mobil og web*/

footer {
    background-color: #667e90;
    grid-row-start: 3;
    grid-row-end: 4;
}

/*tekst til undersider*/

.tekst h1 {
    text-align: center;
}

.tekst h1,
.tekst h2,
.tekst h3 {
    color: #667e90;
}

.tekst h2,
.tekst h3 {
    margin-top: 30px;
    line-height: 0;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

/*circle til slideshow*/

.circle {
    margin-right: 15px;
    display: inline-block;
    background-color: lightgrey;
    width: 12px;
    height: 12px;
    border-radius: 50px;
}


/*CSS til mobilversion*/

@media only screen and (max-width: 600px) {

    /*vis ikke på mobil*/
    #logoweb {
        display: none;
    }

    #slideshow-wrapper {
        display: none;
    }


    /*vis ikke tekst i footer*/
    .lefttext {
        display: none;
    }
    .centertext {
        display: none;
    }


    /*tilbage pil*/
    #backarrow {
        float: left;
        width: 30px;
        background-color: #667e90;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin: 5px;
    }


    /*logo til mobil*/
    #logomobil {
        width: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }


    /*slideshow til mobil*/
    #slideshow-wrappermobil {
        width: 95%;
        height: 200px;
        margin: 30px auto;
    }

    #slideshowmobil {
        margin-bottom: 5px;
        width: 100%;
        height: 200px;
        overflow: hidden;
        white-space: nowrap;
    }

    #slideshowmobil img {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*vis ikke menu på andre sider end index*/
    .nomenu {
        display: none;
    }

    .notmobil {
        display: none;
    }


    /*menu til mobil*/
    .menumobil {
        font-family: Open Sans;
        text-align: center;
        list-style-type: none;
        padding: 0px;
        margin: 5px 50px;
        overflow: hidden;
    }

    .menumobil li a {
        text-decoration: none;
        color: #000000;
    }

    .menumobil li {
        border-style: solid;
        border-color: #cdd1ba;
        margin-top: 10px;
        padding: 5px 0 5px 0;
    }


    /*footer til mobil*/
    footer img {
        width: 50px;
        margin: 0 8px;
    }

    footer {
        margin-top: 10px;
        text-align: center;
    }
}


/* CSS til WEBVERSION*/

@media only screen and (min-width: 1200px) {

    /*Disse ting skal ikke vises på Web*/
    #forsidebillede {
        display: none;
    }

    #logomobil {
        display: none;
    }

    #backarrow {
        display: none;
    }
    #slideshow-wrappermobil {
        display: none;
    }


    /*header*/
    header {
        background-color: #ffffff;
        width: 100%;
        position: absolute;
    }


    /*logo til web*/
    #logoweb {
        padding: 15px 0px;
        width: 175px;
        float: left;
        margin-left: 5%;
    }

    
        /*Menu til web*/
    .menuweb {
        font-family: Open Sans;
        float: right;
        list-style-type: none;
        margin: 40px 5% 0 0;
        padding: 0px;
        overflow: hidden;
    }

    .menuweb li {
        float: left;
        display: inline;
        margin-left: 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
    }

    .menuweb li a {
        display: inline-block;

        padding: 5px 18px;
        text-decoration: none;
    }

    li a:hover {
        border-style: solid;
        border-width: 2px;
        border-color: #696969;
    }

    li a {
        color: #696969;
    }

    #notweb {
        display: none;
    }

    .active {
        border-style: solid;
        border-width: 1.5px;
        border-color: #696969;
    }
    
    
        /*dropdown menu*/
    .dropdown {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .dropdown .dropbtn {
        padding: 5px 18px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 130px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: #696969;
    }

    .dropdown:hover .dropbtn {
        border: 2px solid #696969;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
        color: black;
    }

    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
    }
    

    /*slideshow bliver skuppet ned på siden, så det ikke står under menulinje*/
    .position {
        margin-top: 110px;
    }

    
    