* {
    box-sizing: border-box;
}


html {
    height: 100%;
}

body {
    font-family: Open Sans;
    background-color: #ecf5d4;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}


h1, h2, h3{
 text-align: center;
 color: black;
 

}


    /*vis ikke menu på andre sider end index*/
    .nomenu {
        display: none;
    }

    /*menu til mobil*/
    .menumobil {
        text-align: center;
        list-style-type: none;
        padding: 0px;
        margin: 5px 50px;
        overflow: hidden;
    }

    .menumobil li a {
        text-decoration: none;
        color: #000000;
    }

    .menumobil li {
        border-style: solid;
        border-color: #cdd1ba;
        margin-top: 10px;
        padding: 5px 0 5px 0;
    }



/* CSS til WEBVERSION*/

@media only screen and (min-width: 1200px) {

    /*vis ikke forsidebillede fra mobil*/
    #forsidebillede {
        display: none;
    }

    /*vis ikke logo til mobil*/
    #logomobil {
        display: none;
    }

    header {
        background-color: #ffffff;
        width: 100%;
        position: absolute;
    }

    /*logo til web*/
    #logoweb {
        padding: 15px 0px;
        width: 175px;
        float: left;
        margin-left: 5%;
    }

    /*Menu til web*/
    .menuweb {
        float: right;
        list-style-type: none;
        margin: 40px 5% 0 0;
        padding: 0px;
        overflow: hidden;
    }

    .menuweb li {
        float: left;
        display: inline;
        margin-left: 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
    }

    .menuweb li a {
        display: inline-block;
        text-align: center;
        padding: 5px 18px;
        text-decoration: none;
    }

    li a:hover {
        border-style: solid;
        border-width: 2px;
        border-color: #696969;
    }

    li a {
        color: #696969;
    }

    .active {
        border-style: solid;
        border-width: 1.5px;
        border-color: #696969;
    }
 
  /*KALENDER*/
 
 #kalenderwrapper{
  display: flex;
  width:100%;
  height: auto;
  background-color: ghostwhite;
 }
 
 /*container til kalender*/
 
 
 .container {
  display:flex;
  justify-content: space-between;
  background-color: slategrey;
  width: 100%;
   
 
}
 
 .containertwo {
  display:flex;
  justify-content: space-between;
  background-color: whitesmoke;
  width: 60%;
  margin-top: 30px;
  padding-top: 200px;
  padding-left: 20px;
  padding-right: 20px;
  
 }
  
 
 .containertree {
  display:flex;
  justify-content: space-between;
  background-color: slategrey;
  width: 40%;
  margin-top: 30px;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  
  
  
 }
  
 
/* kalender  */
 
 
.month {
    padding: 70px 25px;
    width: 90%;
    background: #cdd1ba;
    text-align: center;
 margin-left: 25px;
 margin-top: 80px;
}

.month ul {
    margin: 10px;
 padding: 0;

}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  margin-left: 10px;
 }

.month .prev {
    float: left;
 margin: 
    padding-top: 10px;

}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
 width:90%;
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
  margin-left: 25px;
}

.weekdays li {

    display: inline-block;
    width: 10%;
    color: #666;
    text-align: center;
  margin-left: 12px;
}

.days {
  width:90%;
    padding: 5px 0;
    background: #eee;
   margin-left: 25px;
 margin-bottom: 20px;
 
}

.days li {
    list-style-type:none;
    display: inline-flex;
    width: 8%;
    text-align: center;
 margin-left: 25px;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #cdd1ba;
    color: white !important
}
 


/* GALLERI */

.galleri{
 margin: 10px 200px;
 
}

.galleri img{
 width: 230px;
 padding: 5px;
 filter: grayscale(100%);
 transition: 2s;
}

.gallery img:hover{
 filter: grayscale(0);
 transform: scale(1.1);
}


 /*OM OS  */
 
  /*tekst på OM OS siden*/
 
#omtekst{
 
 text-align: center;
 font-family: fantasy;
 margin-top: 150px;
margin-bottom: 10px;
background-color: #ecf5d4;
 
}
 
 #omwrapper{
  margin-top: 220px;
  display: flex;
  width: auto;
  height: auto;
  background-color: ghostwhite;
 }
 
 .bok{
  display:flex;
        justify-content: space-around;
        margin-top:-200px;
        margin-bottom:40px;
       margin-left: 70px;
        margin-right:10%;
    }
 
 .bok1{
        border:2px solid #696969;
justify-content: space-between;
        width:400px;
        height:450px;
  padding: 3px 20px;
  background-color:#f5f5f5;
        box-shadow: 3px 3px 3px #bfbcbc;
    }
 
  /*PERSONALE  */
 

 
 #perwrapper{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  width: auto;
  height: auto;
  background-color: ghostwhite;
 }
 
 .perbok{
  display:flex;
        justify-content: space-around;
  margin-top:20px;
        margin-bottom:800px;
    
    }
 
 .bok2{
 
text-align: justify;
        border:2px solid #696969;
justify-content: space-between;
        width:25%;
        padding: 4px 1px;
  background-color:#f5f5f5;
        box-shadow: 3px 3px 3px #bfbcbc;
 }
 
 .bok2 img{
  text-align: center;
  width: 100;
  margin: 20px;
 }
 

 
   /*ÅBNINGSTIDER  */
 
 #aatekst{
  
text-align: center;
 font-family: fantasy;
margin-bottom: 20px;
background-color: white;
 
}
  
  
 }
 
 .aawrapper{

  padding:50px 20px;
  margin-top: 40px;
  margin-left: 80px;
 display: flex;
  width: 710px;
  height: 300px;
  background-color: lightgray;
 }
  
 
 
 .aawrappertwo{

  padding: 50px 10px;
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 20px;
  display: flex;
  width: 710px;
  height: 1200px;
  background-color: lightgray;
 }
  
 
 
 

 
 

/* Add media queries for smaller screens */

@media screen and (max-width:600px) {
    .weekdays li, .days li {width:3.1%;}
 
 .month {

    padding: 35px 15px;
    width: 50%;
    background: #cdd1ba;
    text-align: center;
  margin-left: 21px; 
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.month .prev {
    float: left;
margin: 
    padding-top: 2px;
}

.month .next {
    float: right;
    padding-top: 2px;
}

.weekdays {
 width: 50%;
 margin-left: 20px;
    padding: 8px 0;
    background-color: #ddd;
}

.weekdays li {

    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
}

.days {

  width: 40%;
    padding: 3px 0;
    background: #eee;
 margin-left: 20px;
}

.days li {
    list-style-type:none;
    display: inline-flex;
    width: 15%;
    text-align: center;
 margin-left: 3px;
    margin-bottom: 2px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding:2px;
    background: #cdd1ba;
    color: white !important
}
 
 
 /*kalender til mobil*/
 
 @media (max-width: 600px) {
  .flex-grid {
    display: block;
  }
}
 
 
 
 