*
{box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}

body{
    font-family:Open Sans;
    background-color:#ecf5d4;
}

header{
}

footer{
 background-color: #cdd1ba;
}

@media only screen and (max-width: 600px) {
    /*logo til mobil*/
    #logomobil{
        width:100px;
        display:block;
        margin-left:auto;
        margin-right:auto;
        background-color:white;  
    }
    
    /*forside billede*/
    #forsidebillede{
        width:90%;
        display:block;
        margin-right:auto;
        margin-left:auto;
        margin-top:8px;
    }
    
    
    /*menu til mobil*/
    .menumobil{
    text-align:center;
    list-style-type: none;
    padding: 0px;
    margin:5px 50px;
    overflow: hidden;
}
    
    .menumobil li a{
        text-decoration:none;
        color:#000000;
    }
    
    .menumobil li{
        border-style:solid;
        border-color:#cdd1ba;
        margin-top:10px;
        padding:5px 0 5px 0;
    }
    
    
    /*footer*/
    footer img{
        width:50px;
        margin:0 8px;
    }
    footer{
        margin-top:10px;
        text-align:center;
    }
    }